*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.yy{
    display: grid;
    /* align-items: center; */
    /* place-items: center; */
    text-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding-left: auto; */
    /* padding-right: auto; */
  }